:root {
  --size-base: 8px;
  --radius-base: 4px;
  --light-color: #333;
  --light-bgcolor: #fff;
  --dark-color: #999;
  --dark-bgcolor: #111;
}

@font-face {
  font-family: "NotoSansCJKjp-1000ch";
  font-weight: 400;
  font-style: normal;
  font-display: optional;
  src:
    local("NotoSansCJKjp-Regular.otf"),
    local("NotoSansJP-Regular.otf"),
    url("/font/NotoSansCJKjp-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "NotoSansCJKjp-1000ch";
  font-weight: 600;
  font-style: normal;
  font-display: optional;
  src:
    local("NotoSansCJKjp-Bold.otf"),
    local("NotoSansJP-Bold.otf"),
    url("/font/NotoSansCJKjp-Bold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--light-color);
  background-color: var(--light-bgcolor);
  font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-1000ch", -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--dark-color);
    background-color: var(--dark-bgcolor);
  }
}

blockquote {
  margin: 16px 0;
  padding: 0 16px;
  border: 0.1em dashed #666;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #777;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: currentColor;
}

audio {
  width: 100%;
}

button {
  padding: 4px 8px;
  color: inherit;
  border: solid 1px #ccc;
  border-radius: var(--radius-base);
  background-color: inherit;
}
