<!doctype html>
<html lang="ja">
  <head>
    <title>{{ .Site.Title }}</title>
    {{ partial "meta.html" . }}
  </head>
  <body>
    <div class="Container">
      {{ partial "header.html" . }}
      <main class="Main">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "episode") }}
        <ul class="Episode">
          {{ range $paginator.Pages }}
            <li class="Episode__Item">
              <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              <time>{{ .Date.Format "2006.01.02" }}</time>
            </li>
          {{ end }}
        </ul>
        <nav class="Nav">
          <div class="Nav__Prev">
            {{ if .Paginator.HasPrev }}
              <a href="{{ .Paginator.Prev.URL }}">👈 Prev</a>
            {{ else }}
            {{ end }}
          </div>
          <div class="Nav__Next">
            {{ if .Paginator.HasNext }}
              <a href="{{ .Paginator.Next.URL }}">Next 👉</a>
            {{ else }}
            {{ end }}
          </div>
        </nav>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "script.html" . }}
  </body>
</html>
