html {
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  font-feature-settings: "palt";
  line-height: 1.6;
}

blockquote {
  margin: 1.6em 0;
  padding: 0 1.6em;
  border: 0.1em dashed #666;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #777;
}

a:hover {
  text-decoration: underline;
  color: currentColor;
}

audio {
  width: 100%;
}
