:root {
  --size-base: 8px;
  --space-base: 8px;
  --radius-base: 4px;
}

html {
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-1000ch", sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.6;
}

blockquote {
  margin: calc(var(--space-base) * 2) 0;
  padding: 0 calc(var(--space-base) * 2);
  border: 0.1em dashed #666;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #777;
}

a:hover {
  text-decoration: underline;
  color: currentColor;
}

ul,
li {
  margin: 0;
  padding: 0;
}

audio {
  width: 100%;
}
