:root {
  --size-base: 8px;
  --space-base: 8px;
  --radius-base: 4px;
  --light-color: #333;
  --light-bgcolor: #fff;
  --dark-color: #999;
  --dark-bgcolor: #111;
}

* {
  box-sizing: border-box;
}

html {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--light-color);
  background-color: var(--light-bgcolor);
  font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-1000ch", -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--dark-color);
    background-color: var(--dark-bgcolor);
  }
}

blockquote {
  margin: calc(var(--space-base) * 2) 0;
  padding: 0 calc(var(--space-base) * 2);
  border: 0.1em dashed #666;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #777;
}

a:hover {
  text-decoration: underline;
  color: currentColor;
}

audio {
  width: 100%;
}

button {
  padding: calc(var(--space-base) / 2) var(--space-base);
  color: inherit;
  border: solid 1px #ccc;
  border-radius: var(--radius-base);
  background-color: inherit;
}
