.Container {
  min-width: calc(var(--size-base) * 40);
  max-width: calc(var(--size-base) * 78);
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

.Main {
  min-height: calc(100vh - 400px);
  padding: 32px 0;
}

.Control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 8px 0;
  font-size: 0.8em;
}

.Control > * {
  margin: 0 4px;
}

.PlaybackRate {
  display: flex;
  flex-direction: column;
}

.PlaybackRate datalist {
  display: inline-flex;
}

.PlaybackRate datalist option {
  margin: 0;
  width: 32px;
  text-align: center;
}

.PlaybackRate datalist option:first-child {
  margin-left: -6px;
}

.PlaybackRate datalist option:last-child {
  margin-right: -6px;
}

.People {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.People.-spread {
  justify-content: space-between;
}

.People__Item {
  display: flex;
  flex-direction: column;
  width: 96px;
  margin-bottom: 16px;
  text-align: center;
}

.People__Avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.Subscribe {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
}

.Subscribe__Item {
  height: 24px;
  margin-bottom: 4px;
}

.Subscribe__Item a {
  display: inline-flex;
  align-items: center;
}

.Subscribe__Item img {
  width: 24px;
  margin-right: 4px;
}

.Episode {
  padding-left: 0;
  list-style-type: none;
}

.Episode__Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Episode__Item h2 {
  padding-right: 8px;
}
