:root {
  --height-header: 200px;
  --height-footer: 200px;
}

.Container {
  min-width: 32rem;
  max-width: 64rem;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}

.EpisodeList {
  padding-left: 0;
  list-style-type: none;
}

.Episode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.People {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.Person {
  display: flex;
  flex-direction: column;
  width: 96px;
  text-align: center;
}

.Person__Avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.Header {
  height: var(--height-header);
  margin: 0 calc((100vw - 100%) / -2);
  margin-bottom: 2em;
  padding: 0 calc((100vw - 100%) / 2);
  background-color: #333;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.HeaderBackdrop {
  height: 100%;
  margin: 0 calc((100vw - 100%) / -2);
  padding: 0 calc((100vw - 100%) / 2);
  background: rgba(0, 0, 0, 0.25);
}

.HeaderTitle {
  display: flex;
  height: 100%;
  padding: 0 1em;
}

.HeaderTitle h1 {
  text-shadow:
    3px 3px 10px #333,
    3px -3px 10px #333,
    -3px 3px 10px #333,
    -3px -3px 10px #333;
}

.HeaderTitle a {
  text-decoration: none;
  color: #fff;
}

.Main {
  min-height: calc(100vh - var(--height-header) - var(--height-footer));
  padding: 0 1em;
}

.Nav {
  display: flex;
  justify-content: space-between;
}

.Aside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em;
}

.Aside > * {
  margin: 0 0.25em;
}

.Footer {
  min-height: var(--height-footer);
  margin: 0 calc((100vw - 100%) / -2);
  margin-top: 2em;
  padding: 0 calc((100vw - 100%) / 2);
  color: #fff;
  background-color: #333;
}

.FooterItems {
  display: flex;
  flex-direction: column;
}

.FooterItems__Item {
  flex-grow: 1;
  padding: 1em;
}

.SubscribeItems {
  padding-left: 0;
  list-style-type: none;
}

.SubscribeItems__Item {
  margin: 0.125em 0;
}

.SubscribeItems__Item img {
  width: 1.25em;
  vertical-align: text-bottom;
}
