.Control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: calc(var(--space-base) * 1.5) 0;
  font-size: 0.8em;
}

.Control > * {
  display: inline-flex;
  align-items: center;
  margin: 0 calc(var(--space-base) / 2);
}
