.Control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: var(--space-base) 0;
}

.Control > * {
  display: inline-flex;
  align-items: center;
  margin: 0 calc(var(--space-base) / 2);
}
