.Episode {
  padding-left: 0;
  list-style-type: none;
}

.Episode__Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Episode__Item h2 {
  padding-right: var(--space-base);
}
