.Header {
  height: 200px;
  margin: 0 calc((100vw - 100%) / -2);
  padding: 0 calc((100vw - 100%) / 2);
  background-color: #333;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.Header__Backdrop {
  height: 100%;
  margin: 0 calc((100vw - 100%) / -2);
  padding: 0 calc((100vw - 100%) / 2);
  background: rgba(0, 0, 0, 0.25);
}

.Header__Title {
  display: flex;
  height: 100%;
  padding: 0 var(--space-base);
}

.Header__Title h1 {
  text-shadow:
    3px 3px 10px #333,
    3px -3px 10px #333,
    -3px 3px 10px #333,
    -3px -3px 10px #333;
}

.Header__Title a {
  text-decoration: none;
  color: #fff;
}
