.People {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.People__Item {
  display: flex;
  flex-direction: column;
  width: 96px;
  margin-bottom: calc(var(--space-base) * 2);
  text-align: center;
}

.People__Avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}
