<!doctype html>
<html lang="ja">
  <head>
    <title>{{ strings.ToLower .Title }} - {{ .Site.Title }}</title>
    {{ partial "meta.html" . }}
  </head>
  <body>
    {{ $term := .Data.Term }}
    <div class="Container">
      {{ partial "header.html" . }}
      <main class="Main">
        <ul class="People">
          {{ range $key, $taxonomy := .Site.Taxonomies.people }}
            {{ if eq $term $key }}
              <li class="People__Item">
                <a href="/people/{{ $term }}">
                  <img
                    alt=""
                    class="People__Avatar"
                    src="{{ index $.Site.Data.people $key "image" }}">
                  <div>{{ $key }}</div>
                </a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
        <ul class="Episode">
          {{ range .Data.Pages }}
            <li class="Episode__Item">
              <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              <time>{{ .Date.Format "2006.01.02" }}</time>
            </li>
          {{ end }}
        </ul>
        <h1>People</h1>
        <ul class="People">
          {{ range $key, $taxonomy := .Site.Taxonomies.people }}
            {{ if ne $term $key }}
              <li class="People__Item">
                <a href="/people/{{ $key }}">
                  <img
                    alt=""
                    class="People__Avatar"
                    src="{{ index $.Site.Data.people $key "image" }}">
                  <div>{{ $key }}</div>
                </a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "script.html" . }}
  </body>
</html>
