<!doctype html>
<html lang="ja">
  <head>
    <title>{{ .Site.Title }} {{ .Title }}</title>
    {{ partial "meta.html" . }}
  </head>
  <body>
    <div class="Container">
      {{ partial "header.html" . }}
      <main class="Main">
        <h1>{{ .Title }}</h1>
        <audio
          id="podcast"
          src="{{ .Site.Params.StaticURL }}{{ .Params.audio }}"
          controls="controls"
          preload="auto">
        </audio>
        <div class="Control">
          <label for="playbackRate">
            再生速度
          </label>
          <div class="PlaybackRate">
            <datalist id="playbackRates">
              <option value="0.75" label="0.75">0.75</option>
              <option value="1.0" label="1.0" selected>1.0</option>
              <option value="1.25" label="1.25">1.25</option>
              <option value="1.5" label="1.5">1.5</option>
              <option value="1.75" label="1.75">1.75</option>
              <option value="2.0" label="2.0">2.0</option>
            </datalist>
            <input id="playbackRate" type="range" min="0.75" max="2" step="0.25" list="playbackRates">
          </div>
          倍速
        </div>
        <div id="currentTime" class="Control">
          <button value="-30">30秒戻る</button>
          <button value="-10">10秒戻る</button>
          <button value="+10">10秒進む</button>
          <button value="+30">30秒進む</button>
        </div>
        <h2>Casts</h2>
        <ul class="People">
          {{ range $person := .Params.people }}
            <li class="People__Item">
              <a href="/people/{{ $person }}">
                <img
                  alt=""
                  class="People__Avatar"
                  src="{{ index $.Site.Data.people $person "image" }}">
                <div>{{ $person }}</div>
              </a>
            </li>
          {{ end }}
        </ul>
        <h2>Notes</h2>
        {{ .Content }}
        {{ partial "aside.html" . }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "script.html" . }}
  </body>
</html>
