<!doctype html>
<html lang="ja">
  <head>
    <title>{{ .Site.Title }} {{ .Title }}</title>
    {{ partial "meta.html" . }}
  </head>
  <body>
    <div class="Container">
      {{ partial "header.html" . }}
      <main class="Main">
        <h1>{{ .Title }}</h1>
        <audio
          id="podcast"
          src="{{ .Site.Params.StaticURL }}{{ .Params.audio }}"
          controls="controls"
          preload="auto">
        </audio>
        <div class="Control">
          <select id="playbackRate">
            <option value="0.75">0.75倍速</option>
            <option value="1.0" selected>1.0倍速</option>
            <option value="1.25">1.25倍速</option>
            <option value="1.5">1.5倍速</option>
            <option value="1.75">1.75倍速</option>
            <option value="2.0">2.0倍速</option>
          </select>
        </div>
        <div id="currentTime" class="Control">
          <button value="-30">30秒戻る</button>
          <button value="-10">10秒戻る</button>
          <button value="+10">10秒進む</button>
          <button value="+30">30秒進む</button>
        </div>
        <h2>Casts</h2>
        <ul class="People">
          {{ range $person := .Params.people }}
            <li class="People__Item">
              <a href="/people/{{ $person }}">
                <img
                  alt=""
                  class="People__Avatar"
                  src="{{ index $.Site.Data.people $person "image" }}">
                <div>{{ $person }}</div>
              </a>
            </li>
          {{ end }}
        </ul>
        <h2>Notes</h2>
        {{ .Content }}
        {{ partial "aside.html" . }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "script.html" . }}
  </body>
</html>
