:root {
  --height-header: 200px;
  --height-footer: 200px;
}

.Container {
  display: flex;
  flex-direction: column;
  min-width: 32rem;
  max-width: 80rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1em;
  background: #fff;
}

.EpisodeList {
  padding-left: 0;
  list-style-type: none;
}

.People {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style-type: none;
}

.Person {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  text-align: center;
}

.Person__Avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.Header {
  height: var(--height-header);
  margin: 0 calc((100vw - 100% + 2em) / -2);
  padding: 0 calc((100vw - 100% + 2em) / 2);
  background-color: #333;
  background-image: url("/podcast/img/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.Header__Title {
  text-shadow:
    3px 3px 10px #333,
    3px -3px 10px #333,
    -3px 3px 10px #333,
    -3px -3px 10px #333;
}

.Header__Title a {
  text-decoration: none;
  color: #fff;
}

.Main {
  min-height: calc(100vh - var(--height-header) - var(--height-footer));
}

.Footer {
  display: flex;
  flex-direction: row;
  height: var(--height-header);
  margin: 0 calc((100vw - 100% + 2em) / -2);
  padding: 0 calc((100vw - 100% + 2em) / 2);
  color: #fff;
  background-color: #333;
}

.Footer__Item {
  flex-grow: 1;
  width: 0;
  min-width: 0;
}
