<aside class="Aside">
  <facebook-button
    layout="button_count"
    width="83"
    height="20"
    href="{{ .Permalink }}">
  </facebook-button>
  <twitter-button
    type="share"
    width="62"
    height="20"
    href="{{ .Permalink }}"
    text="{{ .Title }} - {{ .Site.Title }}">
  </twitter-button>
  <stripe-button></stripe-button>
</aside>
<script type="module">
  import TwitterButton from '/js/twitter-button.js';
  import FacebookButton from '/js/facebook-button.js';
  import StripeButton from '/js/stripe-button.js';

  customElements.define('twitter-button', TwitterButton);
  customElements.define('facebook-button', FacebookButton);
  customElements.define('stripe-button', StripeButton);
</script>
