<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/aside.css">
<aside class="Aside">
  <facebook-button
    class="Aside__Item"
    layout="button_count"
    width="91"
    height="20"
    href="{{ .Permalink }}">
  </facebook-button>
  <twitter-button
    class="Aside__Item"
    type="share"
    width="62"
    height="20"
    href="{{ .Permalink }}"
    text="{{ .Site.Title }} {{ .Title }}">
  </twitter-button>
</aside>
<script type="module">
  import TwitterButton from '/js/twitter-button.js';
  import FacebookButton from '/js/facebook-button.js';

  customElements.define('twitter-button', TwitterButton);
  customElements.define('facebook-button', FacebookButton);
</script>
