<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/aside.css">
<aside class="Aside">
  <a id="share" style="display: inline-flex;">
    <img src="https://icongr.am/fontawesome/twitter.svg?color=1da1f2" width="24" height="24" alt="" style="margin-right: 4px;">
    このエピソードを Twitter でシェアする
  </a>
</aside>
<script defer>
  document.addEventListener('DOMContentLoaded', () => {
    const share = document.querySelector('#share');
    share.addEventListener('click', () => {
      const url = encodeURIComponent(location.href);
      const title = encodeURIComponent(document.title);

      window.open(`https:\/\/twitter.com\/share?url=${url}&text=${title}`, '_blank');
    });
  });
</script>
