<footer class="Footer">
  <div class="FooterItems">
    <div class="FooterItems__Item">
      <h2>About</h2>
      <p><a href="https://twitter.com/strobofm">@strobofm</a> is a podcast by <a href="https://twitter.com/1000ch">@1000ch</a> focusing to web, technology, gadget, productivity, automation. Please <a href="https://www.patreon.com/strobofm">become a patron</a> if you enjoy it.</p>
    </div>
    <div class="FooterItems__Item">
      <h2>Subscribe</h2>
      <ul class="SubscribeItems">
        <li class="SubscribeItems__Item">
          <a href="#" id="push-notification">
            <img src="https://icongr.am/fontawesome/bell.svg?color=ffffff" alt="">
            プッシュ通知で受け取る
          </a>
        </li>
        <li class="SubscribeItems__Item">
          <a href="https://itunes.apple.com/podcast/id1312181476">
            <img src="https://icongr.am/fontawesome/apple.svg?color=ffffff" alt="">
            iTunes で購読する
          </a>
        </li>
        <li class="SubscribeItems__Item">
          <a href="https://subscribeonandroid.com/strobo.fm/index.xml">
            <img src="https://icongr.am/fontawesome/android.svg?color=ffffff" alt="">
            Android で購読する
          </a>
        </li>
        <li class="SubscribeItems__Item">
          <a href="{{ .Site.BaseURL }}/index.xml">
            <img src="https://icongr.am/fontawesome/rss.svg?color=ffffff" alt="">
            RSS で購読する
          </a>
        </li>
        <li class="SubscribeItems__Item">
          <a href="https://twitter.com/strobofm">
            <img src="https://icongr.am/fontawesome/twitter.svg?color=ffffff" alt="">
            Twitter で購読する
          </a>
        </li>
        <li class="SubscribeItems__Item">
          <a href="https://facebook.com/strobofm">
            <img src="https://icongr.am/fontawesome/facebook.svg?color=ffffff" alt="">
            Facebook で購読する
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
