<footer class="Footer">
  <div class="FooterItems">
    <div class="FooterItems__Item">
      <h2>About</h2>
      <p><a href="https://twitter.com/strobofm">@strobofm</a> is a podcast by <a href="https://twitter.com/1000ch">@1000ch</a>. Mainly talking about Web Technology.</p>
    </div>
    <div class="FooterItems__Item">
      <h2>Subscribe</h2>
      <ul>
        <li>
          <a href="https://itunes.apple.com/podcast/id1312181476">iOSで購読する</a>
        </li>
        <li>
          <a href="https://subscribeonandroid.com/strobo.fm/index.xml">Androidで購読する</a>
        </li>
        <li>
          <a href="{{ .Site.BaseURL }}/index.xml">RSSで購読する</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
