<footer class="Footer">
  <div class="FooterItems">
    <div class="FooterItems__Item">
      <h2>About</h2>
      <p><a href="https://twitter.com/strobofm">@strobofm</a> is a podcast by <a href="https://twitter.com/1000ch">@1000ch</a>. Mainly talking about Web Technology.</p>
    </div>
    <div class="FooterItems__Item">
      <h2>Subscribe</h2>
      <ul class="SubscribeItems">
        <li class="SubscribeItems__Item">
          <a href="https://itunes.apple.com/podcast/id1312181476">
            <img src="https://icongr.am/fontawesome/apple.svg?color=ffffff" alt="">
            iTunesで購読する
          </a>
        </li>
        <li class="SubscribeItems__Item">
          <a href="https://subscribeonandroid.com/strobo.fm/index.xml">
            <img src="https://icongr.am/fontawesome/android.svg?color=ffffff" alt="">
            Androidで購読する
          </a>
        </li>
        <li class="SubscribeItems__Item">
          <a href="{{ .Site.BaseURL }}/index.xml">
            <img src="https://icongr.am/fontawesome/rss.svg?color=ffffff" alt="">
            RSSで購読する
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
