<script defer src="//platform.twitter.com/widgets.js"></script>
<script defer id="facebook-jssdk" src="//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.1&appId=210907666338685&autoLogAppEvents=1"></script>
<script defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49530352-7', 'auto');
  ga('send', 'pageview');
</script>
<script>
  if (navigator.serviceWorker) {
    if (location.href.includes('http://localhost:1313/')) {
      navigator.serviceWorker.getRegistrations().then(registrations => {
        for (const registration of registrations) {
          registration.unregister();
        }
      });
    } else {
      navigator.serviceWorker.register('/sw.js');
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    const podcast = document.querySelector('#podcast');
    const playbackRate = document.querySelector('#playbackRate');

    const KEY_CURRENT_TIME = location.pathname;
    const KEY_PLAYBACK_RATE = 'playbackRate';
    const KEY_PLAYBACK_RATE_INDEX = 'playbackRateIndex';
    const savedTime = Number(localStorage.getItem(KEY_CURRENT_TIME));
    const savedPlaybackRate = Number(localStorage.getItem(KEY_PLAYBACK_RATE));
    const savedPlaybackRateIndex = Number(localStorage.getItem(KEY_PLAYBACK_RATE_INDEX));
    if (savedTime) {
      podcast.currentTime = savedTime;
    }

    if (savedPlaybackRate) {
      podcast.playbackRate = savedPlaybackRate;
    }

    if (savedPlaybackRateIndex) {
      playbackRate.selectedIndex = savedPlaybackRateIndex;
    }

    podcast.addEventListener('timeupdate', () => {
      localStorage.setItem(KEY_CURRENT_TIME, parseInt(podcast.currentTime, 10));
    });

    podcast.addEventListener('ended', () => {
      localStorage.removeItem(KEY_CURRENT_TIME);
    });

    playbackRate.addEventListener('change', () => {
      podcast.playbackRate = Number(playbackRate.value);
      localStorage.setItem(KEY_PLAYBACK_RATE, playbackRate.value);
      localStorage.setItem(KEY_PLAYBACK_RATE_INDEX, playbackRate.selectedIndex);
    });

    document.querySelectorAll('#currentTime button').forEach(button => {
      button.addEventListener('click', () => {
        podcast.currentTime += Number(button.value);
      });
    });
  });
</script>
