<script defer src="//platform.twitter.com/widgets.js"></script>
<script defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49530352-7', 'auto');
  ga('send', 'pageview');
</script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"></script>
<script>
  const OneSignal = window.OneSignal || [];
  OneSignal.push(() => {
    OneSignal.init({
      appId: 'de326559-dc31-4503-b337-1f94d21c5944',
      autoRegister: false,
      welcomeNotification: {
        title: 'Welcome',
        message: 'Thanks for subscribing!',
      }
    });

    document.querySelector('#push-notification').addEventListener('click', e => {
      OneSignal.registerForPushNotifications();
    });
  });
</script>
