<script defer src="https://platform.twitter.com/widgets.js"></script>
<script defer src="https://platform.instagram.com/en_US/embeds.js"></script>
<script>
  if (location.href.includes('http://localhost:1313/')) {
    navigator.serviceWorker.getRegistrations().then(registrations => {
      for (const registration of registrations) {
        registration.unregister();
      }
    });
  } else {
    navigator.serviceWorker.getRegistrations().then(registrations => {
      if (registrations.length === 0) {
        navigator.serviceWorker.register('/sw.js');
      }
    });
  }
</script>
